<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <form action="/api/student/register" method="POST">
            <label for="">姓名：
                <input type="text" name="username" placeholder="请输入您的姓名">
            </label>
            <label for="">密码：
                    <input type="password" name="psw" placeholder="请输入密码">
            </label>
            <label for="">
                    <input type="password" name="psw_two" placeholder="请再次输入密码">
            </label>
            <input type="submit">
        </form>
    </div>

    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/add.js"></script>
    <script>
    </script>
</body>

</html>